html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}
form {
    /* display: inline-block; */
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    align-items: center;
    white-space: pre-wrap;
}
input,textarea {
    margin:0.5rem;
    width:15rem;
}
div {
    margin:0.5rem;
    padding:0.25rem;
    justify-content: center;
    text-align: center;
}
a {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}