html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
}
form {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
p{
    align-items: center;
}
input {
    margin:0.5rem;
    width:15rem;
}
div {
    margin:0.5rem;
    padding:0.25rem;
    justify-content: center;
    text-align: center;
}