<!DOCTYPE html>
<head>
    <title>Add Asset</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div>
        <a href="../new_asset/" class="button">New Asset</a><br>
        {% for asset in asset_list %}
            <form method="POST">
                <input type="text" style="display:none;" value="{{ asset[0] }}" name="id">
                <input type="submit" value="{{ asset[1] }}">
            </form><br>
        {% endfor %}
        <p style="color:red;">{{message}}</p><br>
        <br><br><a href="../">Back</a>
    </div>
</body>

<style type="text/css">
    textarea {
        overflow: hidden;
        resize: none;
    }
</style>
<script type="text/javascript">
var observe;
if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
}
else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
}
function init () {
    var texts = document.getElementsByClassName('text');
    function resize () {
        text.style.height = 'auto';
        text.style.height = text.scrollHeight+'px';
    }
    /* 0-timeout to get the already changed text */
    function delayedResize () {
        window.setTimeout(resize, 0);
    }
    
    for (var i = 0; i < texts.length; i++) {
        let text = texts.item(i);
        observe(text, 'change',  resize);
        observe(text, 'cut',     delayedResize);
        observe(text, 'paste',   delayedResize);
        observe(text, 'drop',    delayedResize);
        observe(text, 'keydown', delayedResize);

        text.focus();
        text.select();
        resize();
    };
}
</script>