<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div>
        <p>LOTO Log Login</p><br>
        <form method="post">
            <input type="text" value="" placeholder="Username" name="uname"><br>
            <input type="password" value="" placeholder="Password" name="pass"><br>
            <input type="submit" value="Submit"><br>
        </form>
        <p style="color:red;">{{message}}</p><br>
        <a href="/signup">Sign Up</a> 
    </div>
</body>