<!DOCTYPE html>
<head>
    <title>New Source</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div>
        <form method="post">
            <input type="text" value="" placeholder="Name" name="name"><br>
            <input type="text" value="" placeholder="Location" name="location"><br>
            <input type="text" value="" placeholder="Type" name="type"><br>
            <input type="text" value="" placeholder="Optional: Magnitude" name="magnitude"><br>
            <label for="locked">Locked: </label>
            <input type="checkbox" value="locked" style="width: 5rem;" placeholder="locked" name="locked"><br>
            <input type="submit" value="Submit"><br>
        </form>
        <p style="color:red;">{{message}}</p>
        <br><br><a href="../">Back</a>
    </div>
</body>